<h3>via Plain OAuth Dance</h3>

<%= form_tag session_path do %>
  <%= submit_tag 'Sign-in with Apple' %>
<% end %>

<hr>

<h3>via Apple JS SDK</h3>

<div id="appleid-signin"></div>
<script type="text/javascript" src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"></script>

<%= content_for :head do %>
  <meta name="appleid-signin-client-id" content="<%= ENV['CLIENT_ID'] %>">
  <meta name="appleid-signin-scope" content="email name">
  <meta name="appleid-signin-redirect-uri" content="<%= ENV['REDIRECT_URI'] %>">
  <meta name="appleid-signin-state" content="<%= session[:state] %>">
  <meta name="appleid-signin-nonce" content="<%= session[:nonce] %>">
<% end %>
