<!DOCTYPE html>
<html>
  <head>
    <title>Sign-in with Apple</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :head %>
  </head>

  <body>
    <div id="wrapper">
      <h1><%= link_to 'Sign-in with Apple', root_path %></h1>
      <section id="main">
        <%= yield %>
      </section>
      <footer id="footer">
        <p>
          <small>&copy; <%= link_to 'Nov Matake', 'https://matake.jp' %></small> |
          <%= link_to 'Source Code', 'https://github.com/nov/signin-with-apple' %>
        </p>
      </footer>
    </div>
  </body>
</html>
