<!DOCTYPE html>
<html>
  <head>
    <title>Sign-in with Apple</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="appleid-signin-client-id" content="<%= ENV['CLIENT_ID'] %>">
    <meta name="appleid-signin-scope" content="email name">
    <meta name="appleid-signin-redirect-uri" content="<%= ENV['REDIRECT_URI'] %>">
    <meta name="appleid-signin-state" content="<%= session[:state] %>">
    <script type="text/javascript" src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"></script>
  </head>

  <body>
    <div id="wrapper">
      <h1><%= link_to 'Sign-in with Apple', root_path %></h1>
      <section id="main">
        <%= yield %>
      </section>
      <footer id="footer">
        <p>
          <small>&copy; <%= link_to 'Nov Matake', 'https://matake.jp' %></small> |
          <%= link_to 'Source Code', 'https://github.com/nov/signin-with-apple' %>
        </p>
      </footer>
    </div>
  </body>
</html>
